POST_ON_FIRST_RUN=true
DISCORD_WEBHOOK_URL_LOL=
DISCORD_WEBHOOK_URL_TFT=
DISCORD_WEBHOOK_URL_OW=
DISCORD_WEBHOOK_URL_POE2=
DISCORD_WEBHOOK_URL_FF14=
DISCORD_MAINTENANCE_FF14=
DISCORD_WEBHOOK_URL_GENSHIN_NOTICE=
DISCORD_WEBHOOK_URL_GENSHIN_NEWS=
